/* poke.css */

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

#secret-zone {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  z-index: 9999;
  background-color: rgba(255, 0, 0, 0); /* Invisible */
}

#fake-screen {
  padding: 20px;
  text-align: center;
}

#real-screen {
  display: none;
}

#real-screen h1 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-size: 2em;
}

/* Section Styling */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Elfsight Responsive Container */
.elfsight-app-84468327-a019-49a2-b287-58e004e72f30,
.elfsight-app-75d41a13-d578-4f0d-8571-37ff9b28158b,
.elfsight-app-8790986b-f6f0-4c28-b5db-24d6302df9f5,
.elfsight-app-162c169e-4c91-4899-9874-1aa193043840,
.elfsight-app-5b13cf3a-468a-4ddb-9c49-5f80ac6c1b7e {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  min-height: 500px;
}
